version: '3'
##使用指定网络
networks:
  mynet:
    name: deploy_mynet
    driver: bridge
    internal: false


services:

  nginx:
    profiles:
      - nginx
    privileged: true
    restart: always
    image: swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/nginx:1.29.0
    container_name: nginx
    networks:
      - mynet
    ports:
      - 80:80
      - 443:443
    volumes:
      - ${DEPLOY_PATH}/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ${DEPLOY_PATH}/nginx/conf:/etc/nginx/conf.d
      - ${DEPLOY_PATH}/nginx/logs:/var/log/nginx
    environment:
      TZ: Asia/Shanghai
    deploy:
      replicas: 1
      update_config:
        parallelism: 1       # 每次更新一个容器
        delay: 10s           # 每次更新间隔时间
        failure_action: rollback  # 更新失败时回滚
        monitor: 5s          # 监控更新状态的时间窗口
        max_failure_ratio: 0.3
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3


  redis:
    profiles:
      - redis
    networks:
      - mynet
    privileged: true
    restart: always
    image: swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/redis:7.2.4
    container_name: redis
    ports:
      - 36379:6379
    volumes:
      - ${DEPLOY_PATH}/redis/redis.conf:/etc/redis/redis.conf
      - ${DEPLOY_PATH}/redis/data:/data
      - ${DEPLOY_PATH}/redis/logs:/logs
    command:
      # 以配置文件的方式启动 redis.conf
      redis-server /etc/redis/redis.conf
    deploy:
      replicas: 1
      update_config:
        parallelism: 1       # 每次更新一个容器
        delay: 10s           # 每次更新间隔时间
        failure_action: rollback  # 更新失败时回滚
        monitor: 5s          # 监控更新状态的时间窗口
        max_failure_ratio: 0.3
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3


  mysql:
    profiles:
      - mysql
    privileged: true
    restart: always
    image: mysql:5.7
    container_name: mysql
    networks:
      - mynet
    ports:
      - 33306:3306
    volumes:
      - ${DEPLOY_PATH}/mysql/my.cnf:/etc/my.cnf
      - ${DEPLOY_PATH}/mysql/init:/docker-entrypoint-initdb.d
      - ${DEPLOY_PATH}/mysql/data:/var/lib/mysql
    environment:
      TZ: Asia/Shanghai
      MYSQL_ROOT_PASSWORD: lumeng@8888
    command:
      --bind-address=0.0.0.0
      --max_connections=1000
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_general_ci
      --lower_case_table_names=1
      --sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
    deploy:
      replicas: 1
      update_config:
        parallelism: 1       # 每次更新一个容器
        delay: 10s           # 每次更新间隔时间
        failure_action: rollback  # 更新失败时回滚
        monitor: 5s          # 监控更新状态的时间窗口
        max_failure_ratio: 0.3
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3

  nacos:
    profiles:
      - nacos
    depends_on:
      - mysql
    privileged: true
    restart: always
    image: nacos/nacos-server:2.0.3
    container_name: nacos
    networks:
      - mynet
    ports:
      - 20014:8848
      # 2.0版本增加了gRpc端口
      - 21014:9848
      - 21015:9849
    volumes:
      - ${DEPLOY_PATH}/nacos/logs:/home/nacos/logs
      - ${DEPLOY_PATH}/nacos/conf/application.properties:/home/nacos/conf/application.properties
    environment:
      TZ: Asia/Shanghai
      MODE: standalone
      SPRING_DATASOURCE_PLATFORM: mysql
      PREFER_HOST_MODE: hostname
      MYSQL_SERVICE_HOST: mysql
      ## 此处是内网环境不要填外网映射端口
      MYSQL_SERVICE_PORT: 3306
      MYSQL_SERVICE_USER: nacos
      MYSQL_SERVICE_PASSWORD: nacos
      MYSQL_SERVICE_DB_NAME: nacos
    deploy:
      replicas: 1
      update_config:
        parallelism: 1       # 每次更新一个容器
        delay: 10s           # 每次更新间隔时间
        failure_action: rollback  # 更新失败时回滚
        monitor: 5s          # 监控更新状态的时间窗口
        max_failure_ratio: 0.3
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3

  emqx:
    profiles:
      - emqx
    user: root
    privileged: true
    restart: always
    image: emqx/emqx:latest
    container_name: emqx
    networks:
      - mynet
    ports:
      - 1883:1883
      - 8081:8081
      - 8083:8083
      - 8084:8084
      - 8883:8883
      - 18083:18083
    environment:
      TZ: Asia/Shanghai
      EMQX_NAME: emqx
      EMQX_ALLOW_ANONYMOUS: false
      EMQX_LOADED_PLUGINS: emqx_management,emqx_dashboard,emqx_auth_mnesia,emqx_web_hook
    volumes:
      - ${DEPLOY_PATH}/emqx/data:/opt/emqx/data
      - ${DEPLOY_PATH}/emqx/log:/opt/emqx/log
      - ${DEPLOY_PATH}/emqx/etc:/opt/emqx/etc

















