<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vchaoxi.mapper.VcUserUserMapper">
    <resultMap id="userVoMap" type="com.vchaoxi.vo.UserVo">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="mp_appid" jdbcType="VARCHAR" property="mpAppid"/>
        <result column="mp_openid" jdbcType="VARCHAR" property="mpOpenid"/>
        <result column="ma_appid" jdbcType="VARCHAR" property="maAppid"/>
        <result column="ma_openid" jdbcType="VARCHAR" property="maOpenid"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="openid" jdbcType="VARCHAR" property="openid"/>
        <result column="unionid" jdbcType="VARCHAR" property="unionid"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="country" jdbcType="VARCHAR" property="country"/>
        <result column="headimg_url" jdbcType="VARCHAR" property="headimgUrl"/>
        <result column="integral" jdbcType="INTEGER" property="integral"/>
        <result column="mem_grade" jdbcType="INTEGER" property="memGrade"/>
        <result column="third_points_access" jdbcType="INTEGER" property="thirdPointsAccess"/>
        <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime"/>
        <result column="parentUserPhone" jdbcType="VARCHAR" property="parentUserPhone"/>
        <result column="invite_login_id" property="inviteLoginId"/>
        <result column="invite_time" property="inviteTime"/>
        <result column="member_expire_date" property="memberExpireDate"/>
    </resultMap>


    <sql id="Base_Column_List">
        vc_user_user.id,vc_user_user.mp_appid,
        vc_user_user.mp_openid,
        vc_user_user.ma_appid,
        vc_user_user.ma_openid,
        vc_user_user.phone,
        vc_user_user.openid,
        vc_user_user.unionid,
        vc_user_user.nickname,vc_user_user.sex,vc_user_user.province,vc_user_user.city,
        vc_user_user.country,vc_user_user.headimg_url,vc_user_user.integral,
        vc_user_user.mem_grade,vc_user_user.third_points_access,vc_user_user.insert_time,
        vc_user_user.invite_login_id,
        vc_user_user.invite_time,
        vc_user_user.member_expire_date
    </sql>

    <select id="userSelect" resultMap="userVoMap">
        SELECT
        <include refid="Base_Column_List">
        </include>,
        parent.parentUserPhone
        FROM vc_user_user
        LEFT JOIN (
        SELECT
        wine_user_relation.parent_user_id,
        wine_user_relation.child_user_id,
        vc_user_user.phone AS parentUserPhone
        FROM
        wine_user_relation
        LEFT JOIN vc_user_user ON vc_user_user.id = wine_user_relation.parent_user_id
        WHERE
        wine_user_relation.is_delete = 0
        ) parent ON parent.child_user_id = vc_user_user.id
        WHERE vc_user_user.is_delete = 0
        <if test="phone != null and phone != ''">
            AND vc_user_user.`phone` LIKE CONCAT("%",#{phone},"%")
        </if>
        <if test="nickname != null and nickname != ''">
            AND vc_user_user.`nickname` LIKE CONCAT("%",#{nickname},"%")
        </if>
        <if test="memGrade != null">
            AND vc_user_user.mem_grade = #{memGrade}
        </if>
        <if test="thirdPointsAccess != null">
            AND vc_user_user.third_points_access = #{thirdPointsAccess}
        </if>
        ORDER BY vc_user_user.id DESC
    </select>

    <select id="userSelectById" resultMap="userVoMap">
        SELECT
        <include refid="Base_Column_List">
        </include>
        FROM vc_user_user
        WHERE vc_user_user.is_delete = 0
        AND vc_user_user.id = #{userId}
    </select>

</mapper>
