<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vchaoxi.mapper.WinesGoodsSpecificationMapper">
    <resultMap id="winesGoodsSpecificationVoMap" type="com.vchaoxi.vo.WinesGoodsSpecificationVo">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
        <result column="specification" jdbcType="VARCHAR" property="specification" />
        <result column="value" jdbcType="VARCHAR" property="value" />
        <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
        <result column="amount" jdbcType="DECIMAL" property="amount" />
        <result column="mem_amount" jdbcType="DECIMAL" property="memAmount" />
        <result column="vip_amount" jdbcType="DECIMAL" property="vipAmount" />
    </resultMap>


    <sql id="Base_Column_List" >
        wines_goods_specification.id,
        wines_goods_specification.goods_id,
        wines_goods_specification.specification,
        wines_goods_specification.value,
        wines_goods_specification.pic_url,
        wines_goods_specification.amount,
        wines_goods_specification.mem_amount,
        wines_goods_specification.vip_amount
    </sql>

    <select id="goodsSpecificationList" resultMap="winesGoodsSpecificationVoMap">
        SELECT
        <include refid="Base_Column_List">
        </include>
        FROM wines_goods_specification
        WHERE wines_goods_specification.is_delete = 0 AND wines_goods_specification.goods_id = #{goodsId}
    </select>
</mapper>
