<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vchaoxi.logistic.mapper.VcLogisticsOrderMapper">




    <resultMap id="logisticsOrderVoMap" type="com.vchaoxi.logistic.vo.LogisticsOrderVo">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="agent_id" jdbcType="INTEGER" property="agentId" />
        <result column="shop_id" jdbcType="INTEGER" property="shopId" />
        <result column="order_id" jdbcType="INTEGER" property="orderId" />
        <result column="order_type" jdbcType="INTEGER" property="orderType" />
        <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
        <result column="waybill_id" jdbcType="VARCHAR" property="waybillId" />
        <result column="openid" jdbcType="VARCHAR" property="openid" />
        <result column="delivery_id" jdbcType="VARCHAR" property="deliveryId" />
        <result column="delivery_name" jdbcType="VARCHAR" property="deliveryName" />
        <result column="biz_id" jdbcType="VARCHAR" property="bizId" />
        <result column="custom_remark" jdbcType="VARCHAR" property="customRemark" />
        <result column="tagid" jdbcType="INTEGER" property="tagid" />
        <result column="add_source" jdbcType="INTEGER" property="addSource" />
        <result column="wx_appid" jdbcType="VARCHAR" property="wxAppid" />
        <result column="sender_name" jdbcType="VARCHAR" property="senderName" />
        <result column="sender_tel" jdbcType="VARCHAR" property="senderTel" />
        <result column="sender_mobile" jdbcType="VARCHAR" property="senderMobile" />
        <result column="sender_company" jdbcType="VARCHAR" property="senderCompany" />
        <result column="sender_post_code" jdbcType="VARCHAR" property="senderPostCode" />
        <result column="sender_country" jdbcType="VARCHAR" property="senderCountry" />
        <result column="sender_province" jdbcType="VARCHAR" property="senderProvince" />
        <result column="sender_province_code" jdbcType="INTEGER" property="senderProvinceCode" />
        <result column="sender_city" jdbcType="VARCHAR" property="senderCity" />
        <result column="sender_city_code" jdbcType="INTEGER" property="senderCityCode" />
        <result column="sender_area" jdbcType="VARCHAR" property="senderArea" />
        <result column="sender_area_code" jdbcType="INTEGER" property="senderAreaCode" />
        <result column="sender_address" jdbcType="VARCHAR" property="senderAddress" />
        <result column="receiver_name" jdbcType="VARCHAR" property="receiverName" />
        <result column="receiver_tel" jdbcType="VARCHAR" property="receiverTel" />
        <result column="receiver_mobile" jdbcType="VARCHAR" property="receiverMobile" />
        <result column="receiver_company" jdbcType="VARCHAR" property="receiverCompany" />
        <result column="receiver_post_code" jdbcType="VARCHAR" property="receiverPostCode" />
        <result column="receiver_country" jdbcType="VARCHAR" property="receiverCountry" />
        <result column="receiver_province" jdbcType="VARCHAR" property="receiverProvince" />
        <result column="receiver_province_code" jdbcType="INTEGER" property="receiverProvinceCode" />
        <result column="receiver_city" jdbcType="VARCHAR" property="receiverCity" />
        <result column="receiver_city_code" jdbcType="INTEGER" property="receiverCityCode" />
        <result column="receiver_area" jdbcType="VARCHAR" property="receiverArea" />
        <result column="receiver_area_code" jdbcType="INTEGER" property="receiverAreaCode" />
        <result column="receiver_address" jdbcType="VARCHAR" property="receiverAddress" />
        <result column="cargo_count" jdbcType="INTEGER" property="cargoCount" />
        <result column="cargo_weight" jdbcType="DECIMAL" property="cargoWeight" />
        <result column="cargo_space_x" jdbcType="DECIMAL" property="cargoSpaceX" />
        <result column="cargo_space_y" jdbcType="DECIMAL" property="cargoSpaceY" />
        <result column="cargo_space_z" jdbcType="DECIMAL" property="cargoSpaceZ" />
        <result column="cargo_detail_list" jdbcType="VARCHAR" property="cargoDetailList" />
        <result column="shop_wxa_path" jdbcType="VARCHAR" property="shopWxaPath" />
        <result column="shop_img_url" jdbcType="VARCHAR" property="shopImgUrl" />
        <result column="shop_goods_name" jdbcType="VARCHAR" property="shopGoodsName" />
        <result column="shop_goods_count" jdbcType="INTEGER" property="shopGoodsCount" />
        <result column="shop_detail_list" jdbcType="VARCHAR" property="shopDetailList" />
        <result column="use_insured" jdbcType="INTEGER" property="useInsured" />
        <result column="insured_value" jdbcType="INTEGER" property="insuredValue" />
        <result column="service_type" jdbcType="INTEGER" property="serviceType" />
        <result column="service_name" jdbcType="VARCHAR" property="serviceName" />
        <result column="expect_time" jdbcType="INTEGER" property="expectTime" />
        <result column="take_mode" jdbcType="INTEGER" property="takeMode" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />


        <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
        <result column="locker_name" jdbcType="VARCHAR" property="lockerName" />
        <result column="locker_no" jdbcType="VARCHAR" property="lockerNo" />
        <result column="site_type" jdbcType="INTEGER" property="siteType" />
    </resultMap>


    <sql id="Base_Column_List" >
        vc_logistics_order.id,vc_logistics_order.agent_id,vc_logistics_order.shop_id,vc_logistics_order.order_id,
        vc_logistics_order.order_type,vc_logistics_order.order_no,vc_logistics_order.waybill_id,vc_logistics_order.openid,
        vc_logistics_order.delivery_id,vc_logistics_order.delivery_name,vc_logistics_order.biz_id,
        vc_logistics_order.custom_remark,vc_logistics_order.tagid,vc_logistics_order.add_source,vc_logistics_order.wx_appid,
        vc_logistics_order.sender_name,vc_logistics_order.sender_tel,vc_logistics_order.sender_mobile,vc_logistics_order.sender_company,
        vc_logistics_order.sender_post_code,vc_logistics_order.sender_country,vc_logistics_order.sender_province,
        vc_logistics_order.sender_province_code,vc_logistics_order.sender_city,vc_logistics_order.sender_city_code,
        vc_logistics_order.sender_area,vc_logistics_order.sender_area_code,vc_logistics_order.sender_address,
        vc_logistics_order.receiver_name,vc_logistics_order.receiver_tel,vc_logistics_order.receiver_mobile,
        vc_logistics_order.receiver_company,vc_logistics_order.receiver_post_code,vc_logistics_order.receiver_country,
        vc_logistics_order.receiver_province,vc_logistics_order.receiver_province_code,vc_logistics_order.receiver_city,
        vc_logistics_order.receiver_city_code,vc_logistics_order.receiver_area,vc_logistics_order.receiver_area_code,
        vc_logistics_order.receiver_address,vc_logistics_order.cargo_count,vc_logistics_order.cargo_weight,
        vc_logistics_order.cargo_space_x,vc_logistics_order.cargo_space_y,vc_logistics_order.cargo_space_z,
        vc_logistics_order.shop_wxa_path,vc_logistics_order.shop_img_url,vc_logistics_order.shop_goods_name,
        vc_logistics_order.shop_goods_count,vc_logistics_order.shop_detail_list,vc_logistics_order.use_insured,
        vc_logistics_order.insured_value,vc_logistics_order.service_type,vc_logistics_order.service_name,
        vc_logistics_order.expect_time,vc_logistics_order.take_mode,vc_logistics_order.status,vc_logistics_order.insert_time,
        vc_logistics_order.cargo_detail_list
    </sql>



    <select id="adminSelectList" resultMap="logisticsOrderVoMap">
        SELECT
        <include refid="Base_Column_List">
        </include>,vc_shop_shop.name AS shop_name
        FROM vc_logistics_order
        LEFT JOIN vc_shop_shop ON vc_logistics_order.shop_id = vc_shop_shop.id
        LEFT JOIN vc_order_order ON vc_logistics_order.order_id = vc_order_order.id
        WHERE vc_logistics_order.is_delete = 0
        <if test="agentId != null">
           AND vc_logistics_order.agent_id = #{agentId}
        </if>
        <if test="shopId != null">
            AND vc_logistics_order.shop_id = #{shopId}
        </if>
        <if test="orderNo != null and orderNo != ''">
            AND vc_logistics_order.order_no = #{orderNo}
        </if>
        <if test="waybillId != null and waybillId != ''">
            AND vc_logistics_order.waybill_id = #{waybillId}
        </if>
        <if test="status != null">
            AND vc_logistics_order.status = #{status}
        </if>
        ORDER BY vc_logistics_order.id DESC
    </select>




<!--  查询订单物流信息  根据订单id和物流订单类型  -->
    <select id="selectByOrderIdAndType" resultMap="logisticsOrderVoMap">
        SELECT
        <include refid="Base_Column_List">
        </include>
        FROM vc_logistics_order
        WHERE vc_logistics_order.is_delete = 0 AND vc_logistics_order.order_id = #{orderId}
        AND vc_logistics_order.order_type = #{orderType} AND vc_logistics_order.status = 1
    </select>


<!--  查询物流订单的运单号  -->
    <select id="selectWaybillIdByOrderIdAndType" resultType="java.lang.String">
        SELECT
            waybill_id
        FROM vc_logistics_order
        WHERE vc_logistics_order.is_delete = 0 AND vc_logistics_order.order_id = #{orderId}
        AND vc_logistics_order.order_type = #{orderType} AND vc_logistics_order.status = 1
    </select>
</mapper>
